main {
    padding: 16px 0px;

    /* Style the tab */
    .tab {
        overflow: hidden;        
        background-color: #f1f6fe;
    }
    
    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 8px;
        transition: 0.3s;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {        
        color: #106eea;
    }
    
    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    
    .tabcontent {
        animation: fadeEffect 1s; /* Fading effect takes 1 second */
    }
      
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-item {
        margin: 8px 8px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

        .event-image {
            width: 378px;
            height: 280px;
        }
    }

    h4 {
        padding: 8px;
        text-align: center;
    }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}